// 字体图标
@font-face {
  font-family: 'iconfont';
  src: url('~/assets/fonts/iconfont/icomoon.eot?kbbxn2');
  src: url('~/assets/fonts/iconfont/icomoon.eot?kbbxn2#iefix')
      format('embedded-opentype'),
    url('~/assets/fonts/iconfont/icomoon.ttf?kbbxn2') format('truetype'),
    url('~/assets/fonts/iconfont/icomoon.woff?kbbxn2') format('woff'),
    url('~/assets/fonts/iconfont/icomoon.svg?kbbxn2#icomoon') format('svg');
}
