// 字体图标
@font-face {
  font-family: 'iconFont';
  src: url('~/assets/fonts/iconFont/icomoon.eot?li08db');
  src: url('~/assets/fonts/iconFont/icomoon.eot?li08db#iefix')
      format('embedded-opentype'),
    url('~/assets/fonts/iconFont/icomoon.ttf?li08db') format('truetype'),
    url('~/assets/fonts/iconFont/icomoon.woff?li08db') format('woff'),
    url('~/assets/fonts/iconFont/icomoon.svg?li08db#icomoon') format('svg');
}

@font-face {
  font-family: 'blackAng';
  src: url('~/assets/fonts/cover/blackAng/blackAng.woff') format('woff'),
    url('~/assets/fonts/cover/blackAng/blackAng.woff2') format('woff2');
}

@font-face {
  font-family: 'agendaKing';
  src: url('~/assets/fonts/cover/agendaKing/agendaKing.woff') format('woff'),
    url('~/assets/fonts/cover/agendaKing/agendaKing.woff2') format('woff2');
}

@font-face {
  font-family: 'zixinfangGothic';
  src: url('~/assets/fonts/cover/zixinfangGothic/zixinfangGothic.woff')
      format('woff'),
    url('~/assets/fonts/cover/zixinfangGothic/zixinfangGothic.woff2')
      format('woff2');
}
