// 字体图标
@font-face {
  font-family: 'iconfont';
  src: url('~/assets/fonts/iconfont/icomoon.eot?hgf3z6');
  src: url('~/assets/fonts/iconfont/icomoon.eot?hgf3z6#iefix')
      format('embedded-opentype'),
    url('~/assets/fonts/iconfont/icomoon.ttf?hgf3z6') format('truetype'),
    url('~/assets/fonts/iconfont/icomoon.woff?hgf3z6') format('woff'),
    url('~/assets/fonts/iconfont/icomoon.svg?hgf3z6#icomoon') format('svg');
}

@font-face {
  font-family: 'blackAng';
  src: url('~/assets/fonts/cover/blackAng/blackAng.woff') format('woff'),
    url('~/assets/fonts/cover/blackAng/blackAng.woff2') format('woff2');
}

@font-face {
  font-family: 'agendaKing';
  src: url('~/assets/fonts/cover/agendaKing/agendaKing.woff') format('woff'),
    url('~/assets/fonts/cover/agendaKing/agendaKing.woff2') format('woff2');
}

@font-face {
  font-family: 'zixinfangGothic';
  src: url('~/assets/fonts/cover/zixinfangGothic/zixinfangGothic.woff')
      format('woff'),
    url('~/assets/fonts/cover/zixinfangGothic/zixinfangGothic.woff2')
      format('woff2');
}
