.footer {
  width: 100%;
  height: $height-footer;
  background-color: #1c1c1c;
  box-sizing: border-box;
  &-body {
    padding: 0 100px;
    &-contact {
      color: white;
      font-family: 'iconfont';
      display: flex;
      justify-content: space-between;
    }
  }
}
