.footer {
  width: 100%;
  height: 200px;
  background-color: #1c1c1c;
  box-sizing: border-box;
  &-contact {
    padding: 0 100px;
    color: white;
    display: flex;
    justify-content: space-between;
  }
}
