.undefined {
  height: 100vh;
  width: 100vw;
  @include flex($x: center, $y: center, $wrap: nowrap);
  &-cat {
    border-right: 2px solid #000000;
    &-svg {
      width: 200px;
    }
    &-text {
      font-family: 'agendaKing';
      font-size: 40px;
      font-weight: bolder;
      text-align: center;
    }
  }
  &-notice {
    writing-mode: vertical-rl;
    &-text {
      font-family: 'zixinfangGothic';
      font-size: 25px;
      padding-left: 20px;
    }
  }
}
