.cover {
  height: 100vh;
  background-image: url('~/assets/images/cover.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  &-mask {
    position: relative;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    transition: 1s;
    &--show {
      right: 0;
    }
    &--hide {
      right: 50%;
    }
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  &-title {
    font-size: 80px;
    width: 380px;
    font-weight: bold;
    font-family: 'agendaKing';
  }
  &-sentence {
    font-family: 'zixinfangGothic';
  }
  &-email {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    width: 350px;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    > input {
      background-color: transparent;
      border: none;
      outline: none;
      color: #ffffff;
      flex-grow: 1;
      text-align: left;
      cursor: text;
      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    &-subscribe {
      background-color: #ffffff;
      padding: 4px 8px;
      font-size: 14px;
      margin-right: 10px;
    }
    &-confirm {
      color: #ffffff;
      cursor: pointer;
      &-icon {
        cursor: inherit;
        font-family: 'iconfont';
      }
    }
  }
}

.enter {
  position: absolute;
  width: 100px;
  height: 50px;
  transition: 1s;
  &--show {
    bottom: 10%;
    right: -80%;
  }
  &--hide {
    bottom: -50px;
    right: -180%;
  }
}
